<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.doeon.farm.shop.dao.ScienceExpertMapper">

    <!-- 获取专家列表   -->
    <select id="getExpertList" resultType="cn.doeon.farm.shop.bean.model.science.Expert">
        SELECT se.* FROM science_expert se
        where 1=1
        <if test="expertDto.name != null and expertDto.name != ''">
            and se.name like concat('%',#{expertDto.name},'%')
        </if>
        <if test="expertDto.phone != null and expertDto.phone != ''">
            and se.phone like concat('%',#{expertDto.phone},'%')
        </if>
        <if test="expertDto.date != null and expertDto.date != ''">
            and  DATE_FORMAT(se.start_time, '%y%m%d')  <![CDATA[<=]]> DATE_FORMAT(#{expertDto.date}, '%y%m%d')
            and  DATE_FORMAT(se.end_time, '%y%m%d')  <![CDATA[ >= ]]>  DATE_FORMAT(#{expertDto.date}, '%y%m%d')
        </if>
    </select>


    <!-- 通过姓名获取专家信息 -->
    <select id="getExpertInfoByName" resultType="cn.doeon.farm.shop.bean.model.science.Expert">
        SELECT * FROM science_expert WHERE name = #{name}
    </select>
</mapper>